
.MainLanguages {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:
    linear-gradient(to bottom, #dfe3ee, rgba(255, 255, 255, 0)),
    url('https://images.pexels.com/photos/1261427/pexels-photo-1261427.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.GreyContainer {
    background-color: white;
    width: 20%;
    height: 300px;
    border-radius: 43% 57% 70% 30% / 54% 33% 67% 46% ;
    align-items: center;
}

.GreyContainer2 {
    background-color: white;
    width: 20%;
    height: 300px;
    border-radius: 60% 40% 67% 33% / 44% 41% 59% 56% ;
    align-items: center;
}

.GreyContainer3 {
    background-color: white;
    width: 20%;
    height: 300px;
    border-radius: 26% 74% 43% 57% / 56% 73% 27% 44%;
    align-items: center;
}

.HeaderLanguages {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 30px;
    line-height: 1.2em;
    text-shadow: #0e0e0e 0px 0 20px;
    text-align: center;
    align-items: center;
    margin-top: 20%;
}

.MiddleLanguages {
    display: flex;
    justify-content: center;
    color: gray;
    font-size: 25px;
    line-height: 1.2em;
    text-shadow: gray 0px 0 20px;
    text-align: center;
}