h1 {
    color: black;
}

.Main2 {
    background-color: rgb(23,23,23);
    height: 80vh;
    display: flex;
    justify-content: center;
}
.H1ImgSlider {
    color: white;
    padding-top: 20%;
    text-shadow: #0e0e0e 10px 0 10px; 
}