h1 {
    color: black;
}

.Main2 {
    background-color: rgb(85,85,85);
    height: 90vh;
    display: flex;
    justify-content: center;
}

.H1ImgSliderOuter {
}

.H1ImgSlider {
    color: white;
    text-shadow: #0e0e0e 10px 0 10px; 
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    align-items: center;
}

