@import url('http://fonts.cdnfonts.com/css/mallory');

.Main3 {
    background-color: #dfe3ee;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 5%;
}


.H1Quote {
    color: rgb(66,141,251);
    text-shadow: #0e0e0e 10px 0 10px; 
    font-size: 221px;
    display: flex;
    justify-content: left;
    font-family: "Mallory", sans-serif;
    align-items: center;
    line-height: 0.8;
}

.H2Quote {
    color: white;
    background-color: rgb(66,141,251);
    font-size: 161px;
    display: flex;
    justify-content: left;
    font-family: "Mallory", sans-serif;
    align-items: center;
    width: 100%;
    height: 35%;

}

.H3Quote {
    color: rgb(66,141,251);
    text-shadow: #0e0e0e 10px 0 10px; 
    font-family: "Mallory", sans-serif;
    font-size: 201px;
    display: flex;
    justify-content: left;
    align-items: center;
    line-height: 0.8;
}

.H3Quote:hover, .H1Quote:hover {
    color: white;
}

.H2Quote:hover {
    background-color: white;
    color: rgb(66,141,251);
}

.HOuter {
    margin-top: -18%;
}







