.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    background-color: rgb(66,141,251);
    color: #fff;
    text-decoration: none;
    text-shadow: #0e0e0e 10px 0 10px; 
}

.ATitle {
  text-decoration: none;
}

.H1Title:hover {
  color: #303030;
}