.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    background-color: rgb(129, 18, 219);
    color: #fff;
}

.H1Title:hover {
  color: #303030;
}