@import url('http://fonts.cdnfonts.com/css/mallory');

.Header {
  padding: 5%;
  width: 100%;
  display: flex;
}

.HeadH1 {
  color: rgb(66,141,251);
  font-size: 35px;
  padding-left: 10%;
  text-shadow: #0e0e0e 10px 0 10px; 
}

.HeadH2 {
  color: white;
  font-size: 20px;
  padding-left: 10%;
  text-shadow: #0e0e0e 10px 0 10px; 
}

.HeadReversed {
  color: rgb(66,141,251);
  transform: scaleX(-1);
  font-size: 35px;
  text-shadow: #0e0e0e 10px 0 10px; 
}

.TopContextImg {
  width: 10%;
  height: 10%;
  border-radius: 10px;
  box-shadow: 10px 10px 5px white;
  -moz-box-shadow: 10px 10px 5px white;
  -webkit-box-shadow: 10px 10px 5px white;
  -khtml-box-shadow: 10px 10px 5px white;
}

.svggolf {
  background-color: #303030;
}


.Main {
 margin-bottom: -5px;
 background: url('https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover; 
}
