.btc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: black 1px solid;
  }
  .btc-logo {
    height: 25px;
    margin-right: 5px;
  }
  .btc-price {
    color: black;
    font-size: 25px;
    font-family: sans-serif;
  }